##############################
## Folders                  ##
##############################
target

##############################
## Netbeans conf            ##
##############################
out
build
bin
.idea
.project
.setting