<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.lyks.spring.example.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="pers.lyks.spring.example.model.EmployeeModel">
        <id column="id" property="id"/>
        <result column="empno" property="empno"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
        <result column="salary" property="salary" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, empno, name , age, birthday, salary
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM employee WHERE id = #{id}
    </select>

</mapper>